:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 254, 254, 0.9);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-width: 200px;
  min-height: 100vh;
  background-color: #2b2b2b;
}

#root {
  min-height: 100vh;
  background-color: #2b2b2b;
}
